server:
  port: 8600

spring:
  application:
    name: @artifactId@
  cloud:
    nacos:
      username: @nacos.username@
      password: @nacos.password@
      discovery:
        server-addr: @nacos.addr@
        namespace: @nacos.namespace@
        group: @nacos.group@
      config:
        server-addr: @nacos.addr@
        namespace: @nacos.namespace@
        group: @nacos.group@
  config:
    import:
      - nacos:${spring.application.name}.yml
      - nacos:application.yml