server:
  port: 8500

spring:
  application:
    name: @artifactId@
  cloud:
    nacos:
      username: @nacos.username@
      password: @nacos.password@
      discovery:
        server-addr: @nacos.addr@
        namespace: @nacos.namespace@
        group: @nacos.group@
      config:
        server-addr: @nacos.addr@
        namespace: @nacos.namespace@
        group: @nacos.group@
  config:
    import:
      - nacos:xxl-job-admin.properties
      - nacos:datasource.yml
